# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual envs
venv/
new_venv/
.test_env/
test_env/

# Local data
instance/
uploads/

# Git
.git/
.gitignore

# OS / editor
.DS_Store
*.swp
*.swo

# Node
node_modules/

# Docker
Dockerfile.dev
Dockerfile.render
Dockerfile.sqlite

# Build caches
.cache/
